#slider {
   margin: 0 auto;
   width: 170vh;
   max-width: 100%;
   text-align: center;
transform: translate(0, 10vh);
   z-index: 100;
   position: sticky;
}

#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 1vh;
   background: black;
   position: relative;
   z-index: 1;
   transform: translate(0, 0);
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 80vh;

}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: yellow;

}
.slide img {
  height: auto;
  width: 100vh;
}

.slide_2 img {

height : auto;
transform: translate(10vh, 10vh);

}


#slides .slide_1 {
   background: red;

}
#slides .slide_2 {
   background: blue;
}
#slides .slide_3 {
   background: #a5ccbe;


}
#slides .slide_4 {
   background: grey;
}
#controls {
   margin: -18vh 0 0 0;  /** messes with the slider buttons */
   width: 100%;
   height: 4.5vh;    /**  body main size, big number big body  **/
position: relative;


}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 5vh;
   height: 5vh;

}
#controls label:hover {
   opacity: 1;
}




#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1)


 {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   transform: translate(4vh, -22vh);
   display: block;
}

#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   transform: translate(-10vh, -22vh);  /** x = width, y = height  **/
   display: block;
   z-index: 10;
}

}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 90vh)  /** var egt 900px, idk what this does rn **/ {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 14vh);
      margin: 0 auto;
   }
}
#sidenavr {
   margin: 0 auto;
   width: 20vh;
   max-width: 100%;
   text-align: center;
   transform: translate(-95vh, -90vh);
}

#sidenavr input[type=radio] {
   display: none;
}
#sidenavr label {
   cursor:pointer;
   text-decoration: none;
}
#sidenavs {


   position: relative;
   z-index: -11;
   transform: translate(-1.7vh, 20vh);
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#sidenav1:checked ~ #sidenavs .inner {
   margin-left: -200%;
}

#sidenavs .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 80vh;

}
#sidenavs .sidenav {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: white;

}

}
.sidenav-content {
font-size: 0.1vh

}

#sidenavs .sidenav_1 {
   background: black;


}


#sidenav-controls {
   margin: -18vh 0 0 0;  /** messes with the sidenavr buttons */
   width: 100%;
   height: 5vh;    /**  body main size, big number big body  **/



   transform: translate(-9vh, -26vh);

}
#sidenav-controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 5vh;
   height: 5vh;
   opacity: 0;


}
#sidenav-controls label:hover {
   opacity: 0;

}




#sidenav1:checked ~ #sidenav-controls label:nth-child(2),
#sidenav2:checked ~ #sidenav-controls label:nth-child(1)




 {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   transform: translate(4vh, -22vh);
   display: block;
}

#sidenav1:checked ~ #sidenav-controls label:nth-last-child(1),
#sidenav2:checked ~ #sidenav-controls label:nth-last-child(2)
{
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   transform: translate(-10vh, -22vh);  /** x = width, y = height  **/
   display: block;

}

}
#sidenav1:checked ~ #bullets label:nth-child(1),
#sidenav2:checked ~ #bullets label:nth-child(2) {
   background: #444;
}
@media screen and (max-width: 90vh)  /** var egt 900px, idk what this does rn **/ {
   #sidenav1:checked ~ #sidenav-controls label:nth-child(2),
   #sidenav2:checked ~ #sidenav-controls label:nth-child(1),

   #sidenav1:checked ~ #sidenav-controls label:nth-last-child(2),
   #sidenav2:checked ~ #sidenav-controls label:nth-last-child(1),
{
      margin: 0;
   }
   #sidenavs {
      max-width: calc(100% - 14vh);
      margin: 0 auto;
   }
}
