*{
    margin: 0;
    padding 0;
    list-style: none;
    text-decoration: none;


}
.blacktop{
  background-color: black;
  top:0px;
  height: 0.6vh;
  width: 1000000px;
  z-index: 200;
  		overflow: hidden;
      		float: left;
}

	.topnav {   /* add a blackground color to the navbar*/

		background-color: black;       /* change color later */
		overflow: hidden;
z-index: 10;
	}

	.topnav a {   /* styles the links inside the nav bar*/

		float: left;
		color: #f2f2f3;
		text-align: center;
		padding: 3vh 3vh;
		text-decoration: none;
		font-size: 3vh;
		text-transform: uppercase;
    max-height: 3vh;


}
.projectsimple {
  width: 52vh;
  height: 14vh;
  font-size: 3vh;
  color: white;
  border: 0.6vh solid #fff;
  margin: 6px;
  transform: translate(85vh, 45vh);
	color: #fff;
	overflow: hidden;
  background-color: black;
  opacity: 50%
}
.projectsimple a {
		color: white;

}
.projectsimple:hover{
  background-color: white;
}
ul {
    display: table-row;
}

li {
    width: auto;
    padding-right: 1.5vh;
    border: 1px solid black;
    display: table-cell;
}
nav{
  display: flex;
  justify-content: flex-start;
}
.footer{
      width: auto;
      display: block;
      overflow: hidden;
      padding: 4% 0;
      box-sizing: border-box;
      background-color: #18181a;
        transform: translate(0, 90vh)
}

.inner_footer{
      display: block;
      margin: 0 auto;
      width: auto;


}

.inner_footer .logo_container{
    width: 20%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 20%;
    height: auto;
}


.inner_footer .footer_third{
    width: 15%;
    margin-right: 1%;
    float: left;
    height: 100%;
    color: white;
    font-size: 3.5vh;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
    color: white;
}

.inner_footer .footer_third a{
    font-family:'Roboto', sans-serif;;
    font-size: 3vh;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: .5vh;

}


.inner_footer .footer_third li{
display: inline-block;
padding: 0 0.5vh;
font-size: 6vh;
    color: white;


}

}
.inner_footer .footer_third span{
    color: white;
    font-family: 'Roboto', sans-serif;;
    font-size: 2vh;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 2vh;
        color: white;

}


.active{
    height:0.4vh;
    width: 25vh;
    background-color: #f25b50;
    position: absolute(10px);
    bottom: 700px;
    transition: transform .6s;
  transform: translateX(14vh);

}

.topnav:nth-child(2):hover ~ .active{
  transform: translateX(14vh);
      width: 25vh;
}

.topnav:nth-child(3):hover ~ .active{
  transform: translateX(46vh);
      width: 25vh;
}


.topnav:nth-child(4):hover ~ .active{
  transform: translateX(80vh);
    width: 28vh;
}

.topnav:nth-child(5):hover ~ .active{
  transform: translateX(117vh);
    width: 30vh;
}

.topnav:nth-child(6):hover ~ .active{
  transform: translateX(155vh);
  width: 11vh;
}

.topnav:nth-child(7):hover ~ .active{
  transform: translateX(173vh);
    width: 20vh;
}
.active1{
    height: 38vh;
    width: 25vh;
    background-color: black;
    position: fixed;
    top:7vh;
    transition: transform .6s;
      transform: translateX(-30vh);

}
.active1 a:hover{
    transform: translateX(-5.5vh);
        background-color: green;
            transition: transform .0s;
}



.topnav:nth-child(1):hover ~ .active1{
  transform: translateX(-5.5vh);
}
